body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
label {
  display: block;
}
h1 {
  text-align: center;
}
.shop-container {
  border: 1px solid rgb(218, 218, 218);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;

  & li {
    list-style: none;
    padding: 10px 0;
  }
}
.crud-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;;

  & section {
    & label {
      font-weight: bold;
    }
    & input {
      padding: 10px;
      font-size: 14px;
      line-height: 16px;
      margin: 10px 0;
      display: block;
      width: 90%;
    }
  }
  // &__get-all{
  //   display: none;
  // }
  // &__get-single{
  //   display: none;
  // }
  // &__create-single{
  //   display: none;
  // }
  // &__update-single{
  //   display: none;
  // }
  // &__delete-single{
  //   display: none;
  // }
}
.show {
  display: block;
}
.hide{
  display: none;
}
.button {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 0;
  height: 40px;

  &:hover {
    background-color: rgb(214, 214, 214);
    border-color: transparent;
  }
  &__clear-response{
    &:hover {
      background-color: lightcoral;
    }
  }
  &__delete{
    &:hover {
      background-color: rgb(216, 60, 60);
    }
  }
  &__update{
    &:hover {
      background-color: rgb(141, 202, 106);
    }
  }
  &__create{
    &:hover {
      background-color: rgb(214, 137, 198);
    }
  }
  &__get {
    &:hover {
      background-color: rgb(247, 178, 52);
    }
  }
  &__all-shops{
    &:hover {
      background-color: rgb(33, 153, 153);
    }
  }
}

.response-successful {
  color: rgb(141, 202, 106)
}
.result {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  background-color: rgb(233, 232, 232);
}